@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');


.itemphoto{
    margin-left: 400px;
    margin-top: 90px;
    width: 400px;
    height: 400px;
    margin-right: none;
}

.projectname{
    margin-top: 90px;
    font-family: montserrat;
    color:#CCC5B9;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    width: 45%;
    margin-left:35px;
    height: 0px;
    background-color:#252422;
    display: inline;
    float:right;
}

.itemname{
    margin-top: 140px;
    font-family: montserrat;
    font-weight: 500;
    color:#CCC5B9;
    font-size: 20px;
    position: absolute;
    width: 45%;
    margin-left:35px;
    height:100px;
    background-color:#252422;
    display: inline;
    float:right;
}

.owner{
    margin-top: 190px;
    font-family: montserrat;
    font-weight: 500;
    color:#EB5E28;
    font-size: 15px;
    position: absolute;
    width: 45%;
    margin-left:35px;
    height:0px;
    background-color:#252422;
    display: inline;
    float:right;
}



.offersbox{
    position:absolute;
    width: 755px;
    height: 200px;
    border: 1px solid #CCC5B9;
    border-radius: 8px;
    margin-left: 835px;
    margin-top: -240px;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #CCC5B9;
    text-decoration: none;
}

.highestoffer{
    font-family: calibri;
    font-weight: bold;
    color: #CCC5B9;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
}

.currenthighest{
    font-family: calibri;
    font-weight: 500;
    color: #CCC5B9;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-top: 15px;
}

.makeyourofferbox{
    position:absolute;
    width: 300px;
    height: 50px;
    background-color:#EB5E28;
    border: none;
    margin-left: 6%;
    margin-top:2.8%;
    float:right;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.makeyourofferbox p{
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #CCC5B9;
    text-decoration: none;

    padding: 0px !important;
}


.makeyourofferbox:hover{
    background-color: rgba(235,94,40,0.8)
}

.makeyouroffer{
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #CCC5B9;
    text-decoration: none;
}

.pricehistory{
    position:absolute;
    width: 755px;
    height: 490px;
    border: 1px solid #CCC5B9;
    margin-left: 835px;
    border-radius: 8px;
}

.newoffersbox{
    position:absolute;
    width: 755px;
    height: 500px;
    border: 1px solid #CCC5B9;
    margin-left: 835px;
    border-radius: 8px;
    margin-top: 540px;
}


/* Table starts here */

.content-table{
    border-collapse: collapse;
    margin: 25px 470px 100px;
    font-size: 0.9em;
    min-width: 1000px;
    min-height: 80px;
    font-family: montserrat;
    color: #CCC5B9;
    border-radius: 10px 10px 10px 10px ;
    overflow: hidden;
   
}

.content-table{
    border-collapse: collapse;
    margin-left:0px;
    font-size: 0.9em;
    min-width: 750px;
    min-height: 80px;
    font-family: montserrat;
    color: #CCC5B9;
    border-radius: 5px 5px 5px 5px ;
    overflow: hidden;
   
}

.content-table thead tr{
    color: #CCC5B9;
    text-align: left;
    font-family: montserrat;
}

.content-table th,
.content-table td{
    padding: 25px 30px;
}

.content-table thead tr{
    background-color: #252422;
    border-top: 3px solid #EB5E28;
    border-bottom: 3px solid #EB5E28;
}

.content-table tbody tr{
    background-color: #252422;
    border-bottom: 1px solid #EB5E28;
}

.content-table tbody tr:last-of-type{
    border-bottom: 0;
}

.tdpositive{
    color: #1cdb0b;
    font-weight:bold;
    text-align: left;
    font-family: montserrat;
}

.tdnegative{
    color: #e21c1c;
    font-weight:bold;
    text-align: left;
    font-family: montserrat;
}

/* Accordion starts here */

.wrapper{
    display:block;
    max-width:450px;
    padding: 0 20px;
    margin-left: 378px;
    margin-top: 40px;
    margin-bottom: 800px;   /*footer is being controlled here*/
}

.wrapper .parent-tab {
    margin-bottom: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.18);
   
}

.wrapper .parent-tab label{
    background: #333333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    z-index: 99;
}

.wrapper label span{
    font-family: montserrat;
    color: #CCC5B9;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 -1px #0056b3;
}

.wrapper label .icon{
    position: relative;
    height: 30px;
    width: 30px;
    color: #333333;
    font-size:15px;
    display: block;
    background: #CCC5B9;
    border-radius: 50%;
    text-shadow: 0 -1px 1px #333333;
}

.parent-tab input:checked ~ label .icon i:before{
    content: '\f077';
}

.wrapper label .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .parent-tab .content{
    max-height: 0px; 
    overflow: hidden;
    transition: all 0.3s ease;
}

.parent-tab input:checked ~ .content{
    max-height: 100vh;
}

.wrapper .parent-tab .content p{
    font-family: montserrat;
    font-size: 16px;
    padding: 15px 20px;
    color: #CCC5B9;
}

.wrapper input{
    display:none;
}


.offers{
    margin-top: 300px;
    font-family: montserrat;
    color:#CCC5B9;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    width: 45%;
    margin-left:90px;
    height:310px;
    background-color:#252422;
    display: inline;
    float:right;
}

.icon{
    position: absolute;
    padding-left: 15px;
    padding-top: 31px;
    height: 30px;
    width: 30px;
    color: #EB5E28;
    font-size:25px;
}


