@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');



#mainbox{
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;

}
.sidemenu{
    position:fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    background-color: #202020;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}

.sidemenu a{
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #CCC5B9;
    display: block;

}

.sidemenu b{
    font-family:montserrat;
    padding-left: 27%;
    text-decoration: none;
    font-size: 20px;
    color: #CCC5B9;
    display: block;

}

.walletnotice{
    font-family:montserrat;
    align-items: center;
    padding-top: 20%;
    padding-left: 5%;
    text-decoration: none;
    font-size: 15px;
    color: #CCC5B9;
    display: block;

}

.sidemenu c{
    font-family: montserrat;
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 5%;
    text-decoration: none;
    font-size: 20px;
    color: #CCC5B9;
    display: block;
}

.sidemenu d{
    font-family: montserrat;
    padding-left: 26%;
    text-decoration: none;
    font-size: 10px;
    color: #CCC5B9;
    display: block;

}

.sidemenu a:hover{
    color: white;
}

.sidemenu .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}




.password{
    width: 90%;
    margin-left: 25px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #acacac;
}

.password input{
    width: 100%;
    background-color: #202020;
    color: #EB5E28;
    padding-left: 25px;
    height: 100%;
    border: none;
    outline: none;
}

.password i{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #acacac;
    color: #555555;
}

.login{
    width: 50%;
    height: 45px;
    background-color: #EB5E28;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 80px;
    border: none;
    outline: none;
    font-weight: 500;
}

.forget{
    font-family: montserrat;
    font-size: 5px;
    font-style: bold;
    color: #333333;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}