@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body{
    margin: 0px;
    padding: 0px;
    background-color:#252422;
}

li, a, button{
    font-family:"Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #CCC5B9;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style:none;
}

.nav_links li{
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #EB5E28;
}

.button1{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(235,94,40,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button1:hover{
    background-color: rgba(235,94,40,0.8);
}


.container{
    max-width: 1170px;
    margin-left: 1170px;
    position:relative;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style:none;
}

.footer{
    background-color: #252422;
    padding: 70px 0;
}

.footer-col{
    width: 30%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: #CCC5B9;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
}

.footer-col h4::before{
    content:'';
    position: absolute;
    Left:0;
    bottom: -10px;
    background-color: #EB5E28;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #CCC5B9;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #EB5E28;
    padding-left: 10px;
}

.logo2{
    cursor: pointer;
    margin-left: -970px;
    padding-right: 620px;
}


.container2{
    width: 100%;
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.box{
    width: 350px;
    height: 610px;
    background-color: #EB5E28;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.model{
    height:350px;
    max-height: 100%;
    max-width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p{
    font-family: calibri;
    font-weight: bold;
    color: #CCC5B9;
    text-align: center;
    background-color: #EB5E28;
    padding-bottom:10%;
}

.maintitle{
    font-family: calibri;
    font-weight: bold;
    font-size:30px;
    color: #CCC5B9;
    text-align: center;
    padding-left: 3%;
}

.maintitle2{
    font-family: calibri;
    font-weight: bold;
    font-size:30px;
    color: #CCC5B9;
    text-align: center;
    padding-left: 3%;
    padding-top: 8%;
}

.horsey{
    color: #CCC5B9;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: calibri;
    font-size: 25px;
    margin-top:10%;
}

.cards1{
    display: inline-block;
    padding-left:21%;

}

.cards2{
    display: inline-block;
    padding-left:1%;
    
}

.cards3{
    display: inline-block;
    padding-left:1%;
    
}


.container3{
    width: 100%;
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.box2{
    width: 350px;
    height: 460px;
    background-color: #EB5E28;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.model2{
    height:250px;
    margin-top: 3%;
    margin-bottom:6%;
    max-height: 100%;
    max-width: 100%;
}

.details2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details2 p{
    font-family: calibri;
    font-weight: bold;
    color: #CCC5B9;
    text-align: center;
    background-color: #EB5E28;
    margin-bottom: 7%;
}

.horsey2{
    color: #CCC5B9;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: calibri;
    font-size: 25px;
    margin-top:5%;
}

.cards4{
    display: inline-block;
    padding-left:10%;

}

.cards5{
    display: inline-block;
    padding-left:1%;
    
}

.cards6{
    display: inline-block;
    padding-left:1%;
    
}

.cards7{
    display: inline-block;
    padding-left:1%;
    
}

.button2{
    margin-left: 8px;
    margin-bottom: 10px;
    padding: 10px 25px;
    background-color: rgba(37,36,34,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    ;
}

.button2:hover{
    background-color: rgba(204,197,185,0.8);
    color:#252422;
}

.button3{
    margin-left: 8px;
    margin-bottom: 20px;
    padding: 5px 19px;
    background-color: rgba(37,36,34,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    ;
}

.button3:hover{
    background-color: rgba(204,197,185,0.8);
    color:#252422;
}